<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление пользователя</title>

    <style type="text/css">
        .error {
            color: red;
        }
    </style>
</head>
<body>
<form th:action="@{/admin}" th:method="post" th:object="${user}">
    <label for="login">Логин: </label>
    <input type="text" th:field="*{username}" id="login" placeholder="введите логин"/>
    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error"></span><br><br>

    <label for="password">Пароль: </label>
    <input type="text" th:field="*{password}" id="password" placeholder="введите пароль"/>
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></span><br><br>

    <label for="name">Имя: </label>
    <input type="text" th:field="*{firstName}" id="name" placeholder="введите имя"/>
    <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="error"></span><br><br>

    <label for="age">Возраст: </label>
    <input type="text" th:field="*{age}" id="age" placeholder="введите возраст"/>
    <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}" class="error"></span><br><br>

    <label for="enabled">Активность: </label>
    <input type="checkbox" th:field="*{enabled}" id="enabled"/><br><br>

    <label for="admin">Администратор: </label>
    <input id ="admin" type="checkbox" name="admin" value="1"/><br><br>

    <input type="submit" value="Добавить"/>
</form>
<br><br>
<a th:href="@{/logout}"><button type="button">Logout</button></a>
</body>
</html>