<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit information</title>
</head>
<body>
<form th:action="@{/admin}" th:method="PATCH" th:object="${user}">
    <label for="id">Id: </label>
    <input id="id" type="text" th:field="*{id}" readonly/><br><br>

    <label for="login">Логин: </label>
    <input id="login" type="text" th:field="*{username}" readonly/><br><br>

    <input id="pass" type="hidden" th:field="*{password}"/>

    <label for="name">Имя: </label>
    <input id="name" type="text" th:field="*{firstName}"/>
    <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span><br><br>

    <label for="age">Возраст: </label>
    <input id="age" type="text" th:field="*{age}"/>
    <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span><br><br>

    <label for="enabled">Активность: </label>
    <input type="checkbox" th:field="*{enabled}" id="enabled"/><br><br>

    <label for="roles">Роли: </label>
    <div id="roles">
        <label for="admin">Администратор: </label>
        <input id="admin" type="checkbox" th:checked="${isAdmin}" name="admin" value="1"/>
    </div><br><br>

    <input type="submit" th:value="Изменить"/><br><br>
</form>
<a th:href="@{/logout}">
    <button type="button">Logout</button>
</a>
</body>
</html>