<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Users</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" th:href="@{favicon.png}"/>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="text-white">
        <span class="font-weight-bolder" th:text="${#authentication.getPrincipal().username}"></span>
        <span th:text="'with roles: '"></span>
        <span th:each="role : ${#authentication.getPrincipal().roles}">
            <span th:text="${role.authority.replace('ROLE_', '')}"></span>
        </span>
    </div>
    <div>
        <a style="color: #9ba0a9" th:href="@{/logout}" th:text="Logout"></a>
    </div>
</nav>
<br>
<div class="container">
    <div class="row">

        <!--    ------------------------  SIDEBAR   -------------------------             -->

        <div class="col-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#admin-pills" role="tab"
                   aria-controls="v-pills-home" aria-selected="true">Admin</a>
                <a class="nav-link" id="pills-profile" data-toggle="pill" href="#user-pills" role="tab"
                   aria-controls="v-pills-profile" aria-selected="false">User</a>
            </div>
        </div>

        <!--    ------------------------  MAIN BODY   -------------------------             -->

        <div class="col-10">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="admin-pills" role="tabpanel"
                     aria-labelledby="v-pills-home-tab">
                    <h1>Admin panel</h1>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                               aria-controls="home" aria-selected="true">Users table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                               aria-controls="profile" aria-selected="false">New User</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="card">
                                <h4 class="card-header">
                                    All users
                                </h4>
                                <div class="card-body">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr class="text-center">
                                            <th scope="col">Id</th>
                                            <th scope="col">First Name</th>
                                            <th scope="col">Last Name</th>
                                            <th scope="col">Age</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Role</th>
                                            <th scope="col">Edit</th>
                                            <th scope="col">Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody class="table-striped" id="usersTable">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!-- -------------------------------------  ADD PAGE ------------------------------------- -->

                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <h5 class="card-header">Add new user</h5>
                            <div class="row">
                                <div class="col-sm"></div>
                                <div class="col-sm">
                                    <form id="addingForm">
                                        <div class="form-group">
                                            <div class="text-center">
                                                <label for="firstNameAdd"
                                                       class="col-form-label"><b>First name:</b></label>
                                            </div>
                                            <input type="text"
                                                   class="form-control"
                                                   id="firstNameAdd"
                                                   name="firstName"
                                                   pattern="^[A-za-z]+"
                                                   title="введите имя латиницей"
                                                   required/>
                                        </div>
                                        <div class="form-group">
                                            <div class="text-center">
                                                <label for="lastNameAdd"
                                                       class="col-form-label"><b>Last name:</b></label>
                                            </div>
                                            <input type="text"
                                                   class="form-control"
                                                   id="lastNameAdd"
                                                   name="lastName"
                                                   pattern="^[A-za-z]+"
                                                   title="введите фамилию латиницей"
                                                   required>
                                        </div>
                                        <div class="form-group">
                                            <div class="text-center">
                                                <label for="ageAdd"
                                                       class="col-form-label"><b>Age:</b></label>
                                            </div>
                                            <input type="text"
                                                   class="form-control"
                                                   id="ageAdd"
                                                   name="age"
                                                   pattern="[0-9]{2}"
                                                   title="введите число не более 2 знака"
                                                   required>
                                        </div>
                                        <div class="form-group">
                                            <div class="text-center">
                                                <label for="emailAdd"
                                                       class="col-form-label"><b>Email:</b></label>
                                            </div>
                                            <input type="email"
                                                   class="form-control"
                                                   id="emailAdd"
                                                   name="email"
                                                   pattern="^\w+(@.)[a-z]+[.][a-z]+"
                                                   title="введите email в корректном формате"
                                                   required>
                                        </div>
                                        <div class="form-group">
                                            <div class="text-center">
                                                <label for="passwordAdd"
                                                       class="col-form-label"><b>Password:</b></label>
                                            </div>
                                            <input type="password"
                                                   class="form-control"
                                                   id="passwordAdd"
                                                   name="password"
                                                   pattern="^[^\s]{3,10}"
                                                   title="длина пароля от 3 до 10 символов"
                                                   required>
                                        </div>
                                        <div class="form-group">
                                            <div class="text-center">
                                                <label for="rolesAdd"
                                                       class="col-form-label"><b>Role:</b></label>
                                            </div>
                                            <select class="form-control"
                                                    multiple
                                                    id="rolesAdd"
                                                    name="listRoles"
                                                    size="2">
                                                <option selected>
                                                    USER
                                                </option>
                                                <option>
                                                    ADMIN
                                                </option>
                                            </select>
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-success">Add new user</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-sm"></div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- ------------------------------------- USER INFO ------------------------------------- -->

                <div class="tab-pane fade" id="user-pills" role="tabpanel" aria-labelledby="pills-profile">
                    <h1>
                        User information-page
                    </h1>
                    <div class="card">
                        <h4 class="card-header">
                            About user
                        </h4>
                        <div class="card-body">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td th:text="${#authentication.getPrincipal().id}">ID</td>
                                    <td th:text="${#authentication.getPrincipal().firstName}">First Name</td>
                                    <td th:text="${#authentication.getPrincipal().lastName}">Last Name</td>
                                    <td th:text="${#authentication.getPrincipal().age}">Age</td>
                                    <td th:text="${#authentication.getPrincipal().email}">Email</td>
                                    <td>
                                        <div th:each="role : ${#authentication.getPrincipal().roles}">
                                            <div th:text="${role.role.replace('ROLE_', '')}"></div>
                                        </div>

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--  --------------------------------- EDIT MODAL ------------------------------------- -->

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <form id="editingForm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Edit
                        user</h5>
                    <button type="button" class="close"
                            data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row">
                    <div class="col"></div>
                    <div class="col-6">
                        <div class="modal-body">
                        </div>
                        <div class="form-group">
                            <div class="text-center">
                                <label for="idEdit"
                                       class="col-form-label"><b>ID:</b></label>
                            </div>
                            <input type="hidden"
                                   class="form-control"
                                   name="id">
                            <input type="text"
                                   class="form-control"
                                   id="idEdit"
                                   disabled>
                        </div>
                        <div class="form-group">
                            <div class="text-center">
                                <label for="firstNameEdit"
                                       class="col-form-label"><b>First
                                    name:</b></label>
                            </div>
                            <input type="text"
                                   class="form-control"
                                   id="firstNameEdit"
                                   name="firstName"
                                   pattern="^[A-za-z]+"
                                   title="введите имя латиницей"
                                   required/>
                        </div>
                        <div class="form-group">
                            <div class="text-center">
                                <label for="lastNameEdit"
                                       class="col-form-label"><b>Last name:</b></label>
                            </div>
                            <input type="text"
                                   class="form-control"
                                   id="lastNameEdit"
                                   name="lastName"
                                   pattern="^[A-za-z]+"
                                   title="введите фамилию латиницей"
                                   required>
                        </div>
                        <div class="form-group">
                            <div class="text-center">
                                <label for="ageEdit"
                                       class="col-form-label"><b>Age:</b></label>
                            </div>
                            <input type="text"
                                   class="form-control"
                                   id="ageEdit" name="age"
                                   pattern="[0-9]{1,2}"
                                   title="введите число не более 2 знака"
                                   required>
                        </div>
                        <div class="form-group">
                            <div class="text-center">
                                <label for="emailEdit"
                                       class="col-form-label"><b>Email:</b></label>
                            </div>
                            <input type="text"
                                   class="form-control"
                                   id="emailEdit" name="email"
                                   pattern="^\w+(@.)[a-z]+[.][a-z]+"
                                   title="введите email в корректном формате"
                                   required>
                        </div>
                        <div class="form-group">
                            <div class="text-center">
                                <label for="passwordEdit"
                                       class="col-form-label"><b>Password:</b></label>
                            </div>
                            <input type="password"
                                   class="form-control"
                                   id="passwordEdit"
                                   disabled>
                            <input type="hidden"
                                   class="form-control"
                                   name="password">
                        </div>
                        <div class="form-group">
                            <div class="text-center">
                                <label for="rolesEdit"
                                       class="col-form-label"><b>Role:</b></label>
                            </div>
                            <select class="form-control"
                                    multiple
                                    id="rolesEdit"
                                    name="listRoles"
                                    size="2">
                                <option selected>
                                    USER
                                </option>
                                <option>
                                    ADMIN
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            id="closeEditModalBtn"
                            data-dismiss="modal">Close
                    </button>
                    <button type="submit"
                            class="btn btn-primary">
                        Edit
                    </button>
                </div>

            </div>
        </div>
    </form>
</div>

<!--  --------------------------------- DELETE MODAL ------------------------------------- -->

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <form id="deletingForm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">
                        Delete
                        user</h5>
                    <button type="button" class="close"
                            data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row">
                    <div class="col"></div>
                    <div class="col-6">
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="text-center">
                                    <label for="idDelete" class="col-form-label"><b>ID:</b></label>
                                </div>
                                <input type="hidden"
                                       class="form-control"
                                       name="id">
                                <input type="text"
                                       class="form-control"
                                       id="idDelete"
                                       disabled>
                            </div>
                            <div class="form-group">
                                <div class="text-center">
                                    <label for="firstNameDelete"
                                           class="col-form-label"><b>First
                                        name:</b></label>
                                </div>
                                <input type="text"
                                       class="form-control"
                                       id="firstNameDelete"
                                       disabled/>
                            </div>
                            <div class="form-group">
                                <div class="text-center">
                                    <label for="lastNameDelete"
                                           class="col-form-label"><b>Last
                                        name:</b></label>
                                </div>
                                <input type="text"
                                       class="form-control"
                                       id="lastNameDelete"
                                       disabled>
                            </div>
                            <div class="form-group">
                                <div class="text-center">
                                    <label for="ageDelete"
                                           class="col-form-label"><b>Age:</b></label>
                                </div>
                                <input type="text"
                                       class="form-control"
                                       id="ageDelete"
                                       disabled>
                            </div>
                            <div class="form-group">
                                <div class="text-center">
                                    <label for="emailDelete"
                                           class="col-form-label"><b>Email:</b></label>
                                </div>
                                <input type="text"
                                       class="form-control"
                                       id="emailDelete"
                                       disabled>
                            </div>
                            <div class="form-group">
                                <div class="text-center">
                                    <label for="rolesDelete"
                                           class="col-form-label"><b>Role:</b></label>
                                </div>
                                <select class="form-control"
                                        multiple
                                        id="rolesDelete"
                                        name="listRoles"
                                        size="2" disabled>
                                    <option selected value="user">
                                        USER
                                    </option>
                                    <option value="admin">
                                        ADMIN
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            id="closeDeleteModalBtn"
                            class="btn btn-secondary"
                            data-dismiss="modal">Close
                    </button>
                    <button type="submit"
                            class="btn btn-danger">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script>
    let users = [];

    document.addEventListener("DOMContentLoaded", function () {
        getUsers();
    })

    function getUsers() {
        fetch('/api')
            .then(response => response.json())
            .then(result => result.forEach(user => users.push(user)))
            .then(function () {
                fillUsers();
            })
    }

    function fillUsers() {
        let body = "";
        users.forEach(user => {
            body += "<tr>"
            body += "<td>" + user.id + "</td>"
            body += "<td>" + user.firstName + "</td>"
            body += "<td>" + user.lastName + "</td>"
            body += "<td>" + user.age + "</td>"
            body += "<td>" + user.email + "</td>"
            body += "<td>"
            user.roles.forEach((role) => {
                body += `<div>${role.role.replace('ROLE_', '')}</div>`
            })
            body += "</td>"
            body += "<td>" +
                `<button type="button" class="btn btn-info" data-toggle="modal" data-target="#editModal" onclick='fillEditModal(${user.id})'>
                         Edit </button>` + "</td>"
            body += "<td>" +
                `<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" onclick='fillDeleteModal(${user.id})'>
                         Delete </button>` + "</td>"
            body += "</tr>"
        })
        document.querySelector("#usersTable").innerHTML = body;
    }

    document.querySelector("#addingForm").onsubmit = (e) => {
        e.preventDefault();

        let fName = document.querySelector('#firstNameAdd').value
        let lName = document.querySelector('#lastNameAdd').value
        let age = document.querySelector('#ageAdd').value
        let email = document.querySelector('#emailAdd').value
        let pass = document.querySelector('#passwordAdd').value
        let selectedRoles = document.querySelector('#rolesAdd')
        let roles = []

        for (let i = 0; i < selectedRoles.options.length; i++) {
            if (selectedRoles.options[i].selected) {
                console.log('selected roles: ' + selectedRoles.options[i].value)
                roles.push(selectedRoles.options[i].value)
            }
        }

        fetch('/api', {
            method: 'POST',
            headers: {
                "Accept": "application/json",
                "Content-Type": "application/json; charset=UTF-8",
            },
            body: JSON.stringify({
                "firstName": fName,
                "lastName": lName,
                "age": age,
                "email": email,
                "password": pass,
                "roles": roles
            })
        })
            .then(resp => resp.json())
            .then(res => users.push(res))
            .then(function () {
                fillUsers()
                $('#home-tab').trigger('click')
            })
    };

    function fillEditModal(id) {
        fetch('/api/' + id, {
            headers: {
                "Accept": "application/json",
                "Content-Type": "application/json; charset=UTF-8",
            }
        })
            .then(response => response.json())
            .then(result => {
                $('#idEdit').val(result.id)
                $('#firstNameEdit').val(result.firstName)
                $('#lastNameEdit').val(result.lastName)
                $('#ageEdit').val(result.age)
                $('#emailEdit').val(result.email)
                $('#passwordEdit').val(result.password)
                console.log('result of fetch by id', result)
            })
    }

    document.querySelector("#editingForm").onsubmit = (e) => {
        e.preventDefault()

        let id = document.querySelector('#idEdit').value
        let fName = document.querySelector('#firstNameEdit').value
        let lName = document.querySelector('#lastNameEdit').value
        let age = document.querySelector('#ageEdit').value
        let email = document.querySelector('#emailEdit').value
        let pass = document.querySelector('#passwordEdit').value
        let selectedRoles = document.querySelector('#rolesEdit')
        let roles = []

        for (let i = 0; i < selectedRoles.options.length; i++) {
            if (selectedRoles.options[i].selected) {
                console.log(selectedRoles.options[i].value)
                roles.push(selectedRoles.options[i].value)
            }
        }
        fetch('/api', {
            method: 'PATCH',
            headers: {
                "Content-Type": "application/json; charset=UTF-8"
            },
            body: JSON.stringify({
                "id": id,
                "firstName": fName,
                "lastName": lName,
                "age": age,
                "email": email,
                "password": pass,
                "roles": roles
            })
        })
            .then(response => response.json())
            .then(user => {
                console.log('updated user from response: ', user)
                users.forEach(u => {
                    if (u.id === user.id) {
                        u.firstName = user.firstName
                        u.lastName = user.lastName
                        u.age = user.age
                        u.email = user.email
                        u.password = user.password
                        u.roles = user.roles
                    }
                })
                fillUsers()
                $('#closeEditModalBtn').trigger('click')
            })
    }

    function fillDeleteModal(id) {
        fetch('/api/' + id, {
            headers: {
                "Accept": "application/json",
                "Content-Type": "application/json; charset=UTF-8",
            }
        })
            .then(response => response.json())
            .then(result => {
                $('#idDelete').val(result.id)
                $('#firstNameDelete').val(result.firstName)
                $('#lastNameDelete').val(result.lastName)
                $('#ageDelete').val(result.age)
                $('#emailDelete').val(result.email)
                $('#passwordDelete').val(result.password)
            })
    }

    document.querySelector("#deletingForm").onsubmit = (e) => {
        e.preventDefault();

        let id = document.querySelector('#idDelete').value

        fetch('/api/' + id, {
            method: 'DELETE',
            headers: {
                "Content-Type": "application/json; charset=UTF-8"
            }
        }).then(function () {
            let index = -1;
            users.forEach(user => {
                if (user.id === Number(id)) {
                    index = users.indexOf(user)
                }
            })
            users.splice(index, 1)
            fillUsers()
            $('#closeDeleteModalBtn').trigger('click')
        })
    }
</script>
</body>
</html>